.menu li{
	display: inline;
	margin-right: 20px;
	font-family: roboto;
	font-size: large;
}
.menu li :hover {
	color: aqua;
	font-weight: bold;
}
.menu li :active {
	color: blue;
	text-decoration: underline;
}

.dio p{
	text-align: center;
	margin-top: 200px;
}
.dio i{
	text-align: center;
}
.nia{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	transition: 3s;
}
.nia:hover {
	height: 320px;
	width: 310px;
}
h1{
	color: aqua;
	text-align: center;
	font-weight: bolder;
	text-decoration: solid;
}
.cv {
	text-transform: uppercase;
	text-decoration: none;
	color: aqua;
}
.fall{
		display: block;
		justify-content: space-between;
		box-shadow: 10px 10px 10px;
		color: aqua;
}
h1{
	color: aqua;
}
.card-body h3{
	color: aqua;
}
label {
	color: gray;
  }
  button {
	width: 100%;
	margin-top: 20px;
  }
  .gry {
	background-color:whitesmoke;
  }



